h1 {
    font-size: 6rem;
    color: var(--mainColor);
}

h2 {
    font-size: 3rem;
}

button {
    padding: 12px 18px;
    background-color: var(--mainColor);
    border-style: none;
    font-size: 2rem;
    color: var(--seasalt);
    cursor: pointer;
}

.rounded1 {
    border-radius: 8px;
}

.rounded2 {
    border-radius: 16px;
}

.roundedFull {
    border-radius: 999px;
}

input {
    background-color: var(--antiflash-white);
    padding: 12px 18px;
    font-size: 2rem;
    border-radius: 32px;
    background: #e9ecef;
    box-shadow:  5px 5px 10px #b3b6b8,
         -5px -5px 10px #ffffff;
    border-style: none;
}

input:focus {
    outline: 2px solid var(--mainColor);
    background: #e9ecef;
    box-shadow: inset 5px 5px 10px #b3b6b8,
        inset -5px -5px 10px #ffffff;
}

.mb16 {
    margin-bottom: 16px;
}

.shadow {
    box-shadow: 5px 5px 10px #b3b6b8,
        -5px -5px 10px #ffffff;
}

.flex {
    display: flex;
    gap: 12px;
}

.center {
    margin: 0 auto;
}

.hide {
    display: none;
}
